h1{
  /*font-family: 'Lucida Sans';*/
  font-size: 95px;
  margin-bottom: 0%;}
h3{font-family: 'Lucida Sans';
  font-size: 20px;}
body {
  background-image:url('./drawables/hackerman.png');
  background-repeat:repeat;
  background-size:cover;
}
marquee {
  color: rgb(49, 138, 17);
  font-family: 'Lucida Sans';
  font-size: 20px;
  font-weight: bold; }


#title{
  animation-name:slick_slide;
  font-family: 'DejaVu Sans Mono, monospace';
  animation-duration: 4s;
  display: inline-block;
  text-align: left;
  margin: auto;
  color:beige;
  padding-left: 2%;
}
.card-container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(235, 230, 230, 0.72);
  transition: 0.3s;
  max-width: 200px;
  max-height: 200px;
  padding: 20px;
  display: block;
  border-collapse: collapse;
}
.card img{
  width: 100px;
  height: 100px;
}
button{
  background-color: rgb(102, 236, 236);
  color:slategray;
  border-radius: 14px;
  border: none;
  text-align: center;
  margin: 4px 2px;
}
/*Its a feature to look like keyboard buttons*/
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(251, 247, 247, 0.869);
  transform: scale(1.1);
  cursor: pointer;
}
footer{
  position: fixed;
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  text-align: center;
  bottom: 0;
  padding: 3px;
}
#subtitle{
  margin-top: 0%;
  animation-name : slick_slide_l;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  display: inline-block;
  text-align: left;
  margin: auto;
  color:beige;
  padding-left: 2%;
}
.hide {
  display: none;
}
.form-popup {
  align-items: center;
  justify-content: center;
  display: none;
  position:relative;
  max-height: 30%;
  max-width: 30%;
  margin: 0 auto;
  border: 3px solid #8d8585e9;
  background-color: black;
  color:antiquewhite;
  background-image: url('./drawables/bg_drop.jpg');
  background-size: cover;
  border-radius: 20px;
}
.form-popup h4{
  font-family: 'Lucida Sans';
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
}
.form-popup input{
  margin-left: 20px;
}
.email-label{
  margin-right: 25px;
}
.button-container{
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ffffff;
  outline: none;
}
.btn .cancel{
  background-color: teal;
}
.cancel:hover{
  background-color: red;
}

@keyframes slick_slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slick_slide_l {
  0% {
    transform: translateX(-100%);
  }
  25%{
    transform: translateX(0px);
  }
  75%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    font-style: italic;
    color: rgb(49, 138, 17);
  }
}